body, html, #container {
	margin: 0;
	height: 100%;
	width:100%;
	background-color: #E4E4E4;
	font-family: Helvetica, sans-serif;
	font-size: 0.95em;
	font-weight: 200;
}

#sidebar {
	float:right;
	width: 20%;
	height: 100%;
	background-color: lightgrey;
	display: inline-block;
	box-sizing: border-box;
	overflow: auto;
}

li {
	list-style-type:none;
}

ul {
	padding: 0;
}

li.route{
	color: #111;
	border-bottom: 1px solid #333;
	margin:none;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-transition: 0.5s all;
	transition: 0.5s all;
	overflow: hidden;
	font-weight: 300;
}

.route-title {
}

li.station {
	color: #555;
	text-align: center;
	/*margin-left: 5px;*/
	font-weight: 200;
	border-top: 1px solid #C4C4C4;

}

li.station:first-child {
	margin-top: 20px;
}

li.station:last-child {
	border-bottom: none;
}

li.route:last-child{
	border-bottom:none;

}

li.route:hover{
	border-bottom: 1px solid #9B9B9B;
	color: #000;
	background-color:#E4E4E4;
}

#map {
	display: inline-block;
	width: 79%;
	height:100%;
}

